.alt{
    margin-top: 20px;
    
}


.blog-footer {
    background-color: #5A6258;
    color: #fff;
    padding: 20px 0;
    border: 3px solid #fff;
  }
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .footer-section {
    margin-bottom: 20px;
  }
  
  .footer-section h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .footer-section p {
    font-size: 0.9em;
  }
  
  .categories ul {
    list-style: none;
    padding: 0;
  }
  
  .categories li {
    margin-bottom: 5px;
  }
  
  .categories a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .categories a:hover {
    background-color: #777;
  }
  
  .social-icons {
    display: flex;
  }
  
  .social-icons a {
    margin-right: 10px;
  }
  
  .social-icons img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }
  
  .footer-bottom {
    text-align: center;
    padding-top: 10px;
  }
  
  /* Responsive Tasarım */
  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
    }
  }
  